<h3 *ngIf="!(items | async)">Comparison Is Empty</h3>
<h3 *ngIf="(items | async)">Comparison</h3>
<div id="comparisonArea" *ngIf="(items | async)">
  <div class="comparisonItem" *ngFor="let item of (items | async)?.items">
    <h3>{{item.model}}</h3>
    <img [src]="item.img">
    <h4>{{item.description}}</h4>
    <h3>{{item.price | currency}}</h3>
    <div id="chars">
      <h4 id="char" *ngFor="let char of item?.chars | keyvalue; let myIndex = index" [class]="char.value != (((items)|async)?.items[0]?.chars | keyvalue)[myIndex]?.value ? 'differ' : 'unset'">
        <span>{{char.key}}</span> <span>{{char.value}}</span>
      </h4>
    </div>
  </div>
</div>
<button (click)="clearComparison()">Clear comparison</button>
