#head{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 0.5fr 0.1fr 0.5fr 0.5fr;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

img{
  grid-row: 1/6;
  width: 100%;
  align-self: center;
}

#country, #reviewsNumber h4, #vendor{
  margin: 0;
}

#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#price{
  grid-row: 1/2;
  margin: 0;
  font-size: 2vw;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}

#buttons a{
  margin: 2px;
  grid-row: 1/2;
  font-size: 2vw;
  padding: 5px;
  align-self: center;
  justify-self: end;
}

#buttons i{
  font-size: 1.5vw;
}

i.material-icons{
  vertical-align: center;
}

.rating-result span {
  padding: 0;
  font-size: 2vw;
  margin: 0 3px;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
  content: '★';
}
.rating-result > span.active {
  color: #f73859;
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  #head{
    width: 100%;
  }
}
