<h3 id="popupComparison">
  <a class="material-icons">check_circle</a>
  <br>
  Добавлен в сравнение
</h3>
<h3 id="addedToCart">
  <a class="material-icons">check_circle</a>
  <br>
  Добавлен в корзину
</h3>
<div id="page" *ngFor="let product of products | async" xmlns="http://www.w3.org/1999/html">

  <div id="head">
    <h3>
      {{ product.model }}
    </h3>
    <img [src]="product.img">
    <div id="reviewsNumber">
      <div class="rating-result" [ngSwitch]="averageMark">
        <ng-template ngSwitchDefault>
          <h4>Отзывов еще нет</h4>
        </ng-template>
        <ng-template ngSwitchCase="1">
          <h4>{{numberOfMarks}} отзыв(ов)</h4>
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="2">
          <h4>{{numberOfMarks}} от</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="3">
          <h4>{{numberOfMarks}} отзыв(ов)</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="4">
          <h4>{{numberOfMarks}} отзыв(ов)</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="5">
          <h4>{{numberOfMarks}} отзыв(ов)</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
        </ng-template>
      </div>
    </div>
    <h4 id="country">{{product.country}}</h4>
    <h4>
      {{product.description}}
    </h4>
    <div id="buttons">
      <h4 id="price">{{product.price | currency}}</h4>
      <button [disabled]="itemsInComparison.includes(product.id)" class="button fancy-button" (click)="addToComparison(product)"><i class="material-icons">compare</i>+</button>
      <button class="button fancy-button" (click)="addToCart(product)"><i class="material-icons">shopping_cart</i>Добавить в корзину</button>
    </div>
  </div>

  <div id="chars">
    <h3>Основные характеристики</h3>
    <h4 id="char" *ngFor="let char of product.chars | keyvalue">
      <span>{{char.key}}</span> <span>{{char.value}}</span>
    </h4>
  </div>

  <div id="reviews">
    <h3 *ngIf="product?.reviews;else noReviews">Отзывы</h3>
    <h3 *ngIf="!isLogged"><a [routerLink]="'/login'" style="text-decoration: underline">Войдите</a> чтобы оставить отзыв</h3>
    <ng-template #noReviews><h3>Нет пользовательских отзывов</h3></ng-template>
      <form [formGroup]="reviewForm" (ngSubmit)="submit()" *ngIf="(user | async) as user">
        <p>Оставить свой отзыв</p>
        <p class="inputName" *ngIf="user?.personalInfo.firstName;else noPersonalInfo">
          Ваш логин: {{user?.personalInfo.firstName}} {{user?.personalInfo.secondName}}
          <input type="hidden" value="{{user?.personalInfo.firstName}} {{user?.personalInfo.secondName}}" #userName>
        </p>
        <ng-template #noPersonalInfo>
          <p class="inputName">
            Ваш логин: id{{user?.uid.slice(0, 6)}}
            <input type="hidden" value="id{{user?.uid.slice(0, 6)}}" #userName>
          </p>
        </ng-template>
        <div id="formContainer">
          <div class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5" formControlName="rating">
            <label for="star-5" title="Mark «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4" formControlName="rating">
            <label for="star-4" title="Mark «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3" formControlName="rating">
            <label for="star-3" title="Mark «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2" formControlName="rating">
            <label for="star-2" title="Mark «2»"></label>
            <input type="radio" id="star-1" name="rating" value="1" formControlName="rating">
            <label for="star-1" title="Mark «1»"></label>
          </div>
          <button (click)="submit()" [disabled]="reviewForm.invalid">Отправить отзыв</button>
        </div>
        <textarea maxlength="500" formControlName="review"></textarea>
      </form>
    <h4 id="review" *ngFor="let review of product?.reviews">
      <div class="rating-mini" [ngSwitch]="review.rating">
        <ng-template ngSwitchCase="1">
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="2">
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="3">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="4">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="5">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
        </ng-template>
      </div>
      <span>{{review.user}}</span>
      <span id="reviewText">{{review.review}}</span>
      <span id="reviewDate">{{review.date.toDate() | date: "medium"}}</span>
    </h4>
  </div>
</div>
