<div id="page" *ngFor="let product of products | async" xmlns="http://www.w3.org/1999/html">

  <div id="head">
    <h3>
      {{ product.model }}
    </h3>
    <img [src]="product.img">
    <div id="reviewsNumber">
      <div class="rating-result" [ngSwitch]="averageMark">
        <ng-template ngSwitchDefault>
          <h4>There is no user reviews yet</h4>
        </ng-template>
        <ng-template ngSwitchCase="1">
          <h4>{{numberOfMarks}} reviews</h4>
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="2">
          <h4>{{numberOfMarks}} reviews</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="3">
          <h4>{{numberOfMarks}} reviews</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="4">
          <h4>{{numberOfMarks}} reviews</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="5">
          <h4>{{numberOfMarks}} reviews</h4>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
        </ng-template>
      </div>
    </div>
    <h4 id="country">{{product.country}}</h4>
    <h4>
      {{product.description}}
    </h4>
    <div id="buttons">
      <h4 id="price">{{product.price | currency}}</h4>
      <a class="button fancy-button" (click)="addToComparison(product)"><i class="material-icons">compare</i>+</a>
      <a class="button fancy-button" (click)="addToCart(product)"><i class="material-icons">shopping_cart</i>Add to cart</a>
    </div>
  </div>

  <div id="chars">
    <h3>Main Features</h3>
    <h4 id="char" *ngFor="let char of product.chars | keyvalue">
      <span>{{char.key}}</span> <span>{{char.value}}</span>
    </h4>
  </div>

  <div id="reviews">
    <h3>Reviews</h3>
      <form [formGroup]="reviewForm" (ngSubmit)="submit()">
        <p>Add your review</p>
        <p id="inputName">
          Your name
          <input type="text" name="userName" formControlName="userName">
        </p>
        <div id="formContainer">
          <div class="rating-area">
            <input type="radio" id="star-5" name="rating" value="5" formControlName="rating">
            <label for="star-5" title="Mark «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4" formControlName="rating">
            <label for="star-4" title="Mark «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3" formControlName="rating">
            <label for="star-3" title="Mark «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2" formControlName="rating">
            <label for="star-2" title="Mark «2»"></label>
            <input type="radio" id="star-1" name="rating" value="1" formControlName="rating">
            <label for="star-1" title="Mark «1»"></label>
          </div>
          <button (click)="submit()" [disabled]="reviewForm.invalid">Send review</button>
        </div>
        <textarea maxlength="500" formControlName="review"></textarea>
      </form>
    <h4 id="review" *ngFor="let review of product?.reviews">
      <div class="rating-mini" [ngSwitch]="review.rating">
        <ng-template ngSwitchCase="1">
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="2">
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="3">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="4">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
        </ng-template>
        <ng-template ngSwitchCase="5">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
        </ng-template>
      </div>
      <span>{{review.user}}</span>
      <span id="reviewText">{{review.review}}</span>
      <span id="reviewDate">{{review.date.toDate() | date: "medium"}}</span>
    </h4>
  </div>
</div>

