#head{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 0.5fr 0.1fr 0.5fr 0.5fr;
  width: 70%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1vh;
}

#popupComparison, #addedToCart{
  z-index: 3;
  background-color: #3d3d3d;
  position: fixed;
  color: white;
  right: 40%;
  top: 40%;
  border-radius: 5px;
  padding: 1vw;
  visibility: hidden;
  display: none;
  margin: 0 auto;
  text-align: center;
  width: 20%;
  animation-name: fadeout;
  animation-duration: 2s;
  vertical-align: middle;
}

#popupComparison a, #addedToCart a{
  color: #97dc32;
  font-size: 3vw;
}

input{
  border: 1px solid white;
}

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid{
  border:solid #f73859 1px;
  border-radius: 5px;
}

#chars{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  padding: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#chars h3{
  font-size: 1.5vw;
}

#chars span{
  text-transform: uppercase;
}

#chars h4{
  display: flex;
  background-color: #dedede;
  justify-content: space-between;
  font-size: 1.5vw;
}

#char{
  padding: 1vw;
  margin: 5px;
  border-radius: 5px;
}




#reviews{
  display: grid;
  background-color: white;
  padding: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
}

#reviews h3{
  font-size: 1.5vw;
}

#reviews h4{
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 3fr;
  background-color: #dedede;
}

#reviews form{
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 3fr;
  background-color: #dedede;
}

#review{
  padding: 1vw;
  margin: 5px;
  border-radius: 5px;
  height: 1fr;
}

#review span{
  align-self: center;
}

#reviewText{
  grid-row: 2/4;
  align-self: center;
}

#reviewDate{
  justify-self: center;
  align-self: center;
  grid-column: 1/2;
  grid-row: 3/4;
}

form{
  padding: 1vw;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
}

p{
  justify-self: center;
  align-self: center;
}

textarea{
  font-size: 1vw;
  grid-row: 2/3;
  grid-column: 2/3;
  resize: none;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
}

.inputName{
  align-self: center;
  justify-self: left;
}

.inputName input{
  font-size: 1vw;
  padding: 5px;
  background-color: white;
}

#formContainer{
  display: grid;
  gap: 8px;
  grid-row: 2/3;
  grid-column: 1/2;
}

form button{
  background-color: white;
  justify-self: center;
  color: #3d3d3d;
  align-self: center;
  border-radius: 5px;
  font-size: 1vw;
  padding: 0.5vw;
}

form button:disabled{
  opacity: 0.1;
  cursor: auto;
}


img{
  grid-row: 1/6;
  width: 95%;
  justify-self: center;
  align-self: center;
}



#country, #reviewsNumber h4, #country{
  margin: 0;
}



#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#buttons button{
  color: #f73859;
  background-color: #3d3d3d;
  margin: 2px;
  grid-row: 1/2;
  font-size: 2vw;
  padding: 0.5vw;
  align-self: center;
  justify-self: end;
}

#buttons button:disabled{
  opacity: 0.5;
}

#buttons i{
  font-size: 1.5vw;
  color: #f73859;
}

i.material-icons{
  vertical-align: center;
}

#price{
  grid-row: 1/2;
  margin: 0;
  font-size: 2vw;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}




.rating-result span {
  padding: 0;
  font-size: 2vw;
  margin: 0 3px;
  line-height: 1;
  color: #dedede;
  text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
  content: '★';
}
.rating-result > span.active {
  color: #f73859;
}
.rating-mini {
  text-shadow: 1px 1px #bbb;
  grid-row: 1/3;
  justify-self: center;
  display: inline-block;
  font-size: 0;
}
.rating-mini span {
  padding: 0;
  font-size: 2vw;
  line-height: 1;
  color: lightgrey;
}
.rating-mini > span:before {
  content: '★';
}
.rating-mini > span.active {
  color: #f73859;
}
.rating-area {
  text-shadow: 1px 1px #bbb;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 2.5vw;
  color: lightgrey
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: #f73859;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #f73859;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #f73859;
}
.rate-area > label:active {
  position: relative;
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  #reviews h4{
    grid-template-rows: 1fr 1.5fr 3fr;
    grid-template-columns: 1fr 3fr;
  }

  #head{
    width: 100%;
  }

  #chars{
    width: 100%;
  }

  textarea{
    font-size: 4vw;
  }

  #reviews{
    width: 100%;
  }

  span{
    font-size: 3vw;
  }

  #reviews h3, #reviews a{
    font-size: 3vw;
  }

  #chars h3{
    font-size: 3vw;
  }

  #price{
    font-size: 4vw;
  }

  #buttons button{
    font-size: 5vw;
    padding: 1vw;
  }

  #buttons i{
    font-size: 4vw;
  }
}
