<div id="container">

  <div id="popupLogin">

  </div>

  <div *ngIf="!isSignedIn && !signInView">
    <h3>Зарегистрироваться</h3>
    <div class="signContainer">
      <h4>Зарегистрироваться с электронной почтой и паролем</h4>
      <form [formGroup]="form">
        <input type="email"
               [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
               placeholder="E-Mail"
               formControlName="email">
        <div *ngIf="(email.invalid && email.touched) || email.dirty">
          <span class="redMessage" *ngIf="email.errors?.required">Электронная почта обязательна</span>
          <span class="redMessage" *ngIf="email.errors?.pattern">Введите валидный пароль</span>
        </div>
        <input type="password"
               [class.is-invalid]="form.get('password').invalid && form.get('password').touched"
               placeholder="Пароль"
               formControlName="password">
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
          <span class="redMessage" *ngIf="password.errors?.required">Пароль обезателен</span>
          <span class="redMessage" *ngIf="password.errors?.pattern">Введите пароль как минимум с 6 символами</span>
        </div>
      </form>
      <button [disabled]="form.invalid" (click)="onSignup(email.value, password.value)">Зарегистрироваться</button>
      <h4>Если у вас уже есть аккаунт</h4>
      <a (click)="swapView()" style="text-decoration: underline">Войти</a>
    </div>
  </div>

  <div *ngIf="!isSignedIn && signInView">
    <h3>Войти</h3>
    <div class="signContainer">
      <h4>С электронной почтой и паролем</h4>
      <form [formGroup]="form">
        <input type="email"
               [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
               placeholder="E-Mail"
               formControlName="email">
        <div *ngIf="(email.invalid && email.touched) || email.dirty">
          <span class="redMessage" *ngIf="email.errors?.required">Электронная почта обязательна</span>
          <span class="redMessage" *ngIf="email.errors?.pattern">Введите валидную электронную почту</span>
        </div>
        <input type="password"
               [class.is-invalid]="form.get('password').invalid && form.get('password').touched"
               placeholder="Пароль"
               formControlName="password">
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
          <span class="redMessage" *ngIf="password.errors?.required">Пароль обязателен</span>
          <span class="redMessage" *ngIf="password.errors?.pattern">Введите пароль как минимум с 6 символами</span>
        </div>
      </form>
      <button [disabled]="form.invalid" (click)="onSignin(email.value, password.value)">Войти</button>
      <h4>Через Google</h4>
      <img *ngIf="!isSignedIn" (click)="onSignInWithGoogle()" src="assets/images/google.jpg">
      <h4>Если у вас еще нет аккаунта</h4>
      <a (click)="swapView()" style="text-decoration: underline">Зарегистрируйтесь</a>
    </div>
  </div>

</div>

<app-user *ngIf="isSignedIn" (isLogOut)="handleLogOut()"></app-user>

