<div *ngIf="(cart | async)">
  <h3>Cart</h3>
  <h3 class="cart-item">
    <span>Cart price is</span>
    <span>{{(cart | async)?.bill | currency}}</span>
    <div id="buttons">
      <button [routerLink]="['/checkout']" class="button" type="submit">Checkout</button>
      <button (click)="clearCart()">Clear cart</button>
    </div>
  </h3>
</div>

<h3 *ngIf="!(cart | async)">
  <span>Your cart is empty</span>
</h3>

<div class="cart-item" *ngFor="let item of (cart | async)?.items">
  <button id="clear" (click)="removeItem(item.model)" class="material-icons">clear</button>
  <div id="itemGrid" [style.opacity]="!item.quantity ? '0.3' : 'unset'">
    <h3>{{ item.model }}</h3>
    <img [src]="item.img">
    <h4>{{ item.description }}</h4>
    <div class="quantity">
      <button id="-" (click)="decreaseQuantity(item.model)">-</button>
      <h3>{{item.quantity}}</h3>
      <button id="+" (click)="increaseQuantity(item.model)">+</button>
    </div>
    <h3>{{ item.price | currency}}</h3>
  </div>
</div>
