<div class="slider">
  <div class="slides">
    <div id="slide-1">
      <img class="wallpaper" src="assets/images/wallpaper.jpg">
    </div>
    <div id="slide-2">
      <img class="wallpaper" src="assets/images/wallpaper.jpg">
    </div>
    <div id="slide-3">
      <img class="wallpaper" src="assets/images/wallpaper.jpg">
    </div>
    <div id="slide-4">
      <img class="wallpaper" src="assets/images/wallpaper.jpg">
    </div>
    <div id="slide-5">
      <img class="wallpaper" src="assets/images/wallpaper.jpg">
    </div>
  </div>
</div>
<div id="categories">
  <a [routerLink]="['/products']" [queryParams]="{'type':'all'}">
    <h3>
      <p>Все продукты</p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/mystore-8491b.appspot.com/o/images%2Fmultiple-devices.jpg?alt=media&token=e6bde3cb-6f3b-47b3-a1f7-87e9f6d12197">
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'phones'}">
    <h3>
      <p>Смартфоны</p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/mystore-8491b.appspot.com/o/images%2Fiphone-11-64gb-black-telefon-gsm-apple-mhda3rm-a-1_600.jpg?alt=media&token=2d81e5e2-b49e-4d87-9384-23a59e71433a">
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'tablets'}">
    <h3>
      <p>Планшеты</p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/mystore-8491b.appspot.com/o/images%2Fmyl92rk-a-a2270-ipad-wi-fi-32gb-space-grey-planshet-apple-1_600.jpg?alt=media&token=e2ee41b2-152c-4fbe-89d4-a9f96aa446ac">
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'tvs'}">
    <h3>
      <p>Телевизоры</p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/mystore-8491b.appspot.com/o/images%2Fgood_img_0bc6f289-9984-11e9-80c7-005056840c70_600.jpg?alt=media&token=a44da0b1-5475-4dcf-93cd-ad6250c847bc">
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'trackers'}">
    <h3>
      <p>Фитнес-трекеры</p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/mystore-8491b.appspot.com/o/images%2Fbhr4219ru-fitnes-braslet-xiaomi-mi-smart-band-5-xmsh10hm-1_600.jpg?alt=media&token=fc6d39bc-623f-4198-8caa-d18857d02a20">
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'watches'}">
    <h3>
      <p>Умные часы</p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/mystore-8491b.appspot.com/o/images%2Fgood_img_90bf0187-e6ad-11e9-80c7-005056840c70_600.jpg?alt=media&token=973fca58-19ef-43bf-9e88-3495cccc2f7f">
    </h3>
  </a>
</div>

