<div class="slider">
  <a href="#slide-1"></a>
  <a href="#slide-2"></a>
  <a href="#slide-3"></a>
  <a href="#slide-4"></a>
  <a href="#slide-5"></a>
  <div class="slides">
    <div id="slide-1">
      1
    </div>
    <div id="slide-2">
      2
    </div>
    <div id="slide-3">
      3
    </div>
    <div id="slide-4">
      4
    </div>
    <div id="slide-5">
      5
    </div>
  </div>
</div>
<div id="categories">
  <a [routerLink]="['/products']" [queryParams]="{'type':'all'}">
    <h3>
      All Products
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'phones'}">
    <h3>
      Phones
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'tablets'}">
    <h3>
      Tablets
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'tvs'}">
    <h3>
      TVs
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'trackers'}">
    <h3>
      Fitness Trackers
    </h3>
  </a>
  <a [routerLink]="['/products']" [queryParams]="{'type':'watches'}">
    <h3>
      Smart Watches
    </h3>
  </a>
</div>

