* {
  box-sizing: border-box;
}

.products{
  text-align: center;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products p{
  align-items: end;
}

img{
  width: 60%;
}

a{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  .products{
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
  and (orientation: landscape)
{
  .products{
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
