* {
  box-sizing: border-box;
}


#price{
  font-size: 2vw;
  margin: 1vh;
}

#description{
  height: 2.5vh;
}

#descriptionLink{
  display: grid;
  padding: 5px;
}

a{
  margin: 2px;
  margin-bottom: 5px;
  grid-row: 1/2;
  font-size: 2vw;
  padding: 5px;
  align-self: center;
  justify-self: end;
}

#buttons i{
  font-size: 1.5vw;
}

i.material-icons{
  vertical-align: center;
}

#product{
  background-color: white;
  border-radius: 5px;
}

#products{
  text-align: center;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

p{
  align-self: end;
}

img{
  align-self: center;
  justify-self: center;
  width: 60%;
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  #products{
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
  }
  #price{
    font-size: 5vw;
  }
  #buttons a{
    font-size: 5vw;
  }
  #buttons i{
    font-size: 3.5vw;
  }
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
  and (orientation: landscape)
{
  #products{
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
