<h3 id="popupComparison">
  <a class="material-icons">check_circle</a>
  <br>
  Added To Comparison
</h3>
<div id="products">
  <div id="product" *ngFor="let product of products | async" [title]="product.model">
    <a id="descriptionLink" [routerLink]="['/products', product.id]">
      <h3>
        {{ product.model }}
      </h3>
      <img [src]="product.img">
      <h4 id="description">{{ product.description }}</h4>
      <h4 id="price">{{product.price | currency}}</h4>
    </a>
    <div id="buttons">
      <button [disabled]="product.addedToComparison" class="button fancy-button" (click)="addToComparison(product)"><i class="material-icons">compare</i>+</button>
      <button class="button fancy-button" (click)="addToCart(product)"><i class="material-icons">shopping_cart</i>Add to cart</button>
    </div>
  </div>
</div>
<h3 *ngIf="(products | async)?.length == 0" style="margin: 0">
  There Are No Such Products
</h3>
