* {
  box-sizing: border-box;
}

.products{
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 2px;
  margin-bottom: 10px;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product{
  height: 200px;
  border: 2px solid lightslategrey;
}

@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  .products{
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
  and (orientation: landscape)
{
  .products{
    text-align: center;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
