<h3>Личный кабинет</h3>

<div id="popupInvalidConfirm"></div>

<div id="navBar">
  <a (click)="view = 'delivery'">Информация о доставке</a>
  <span>|</span>
  <a (click)="view = 'personal'">Персональная информация</a>
  <span>|</span>
  <a (click)="view = 'payment'">Платежная информация</a>
  <span>|</span>
  <a (click)="view = 'orders'">История покупок</a>
</div>

<h4 *ngIf="view == 'personal'">Персональная информация</h4>

<div *ngIf="(user | async) as user">

  <div class="personal" *ngIf="user?.auth == 'google' && view == 'personal' && !updateUserInfo && !updatePersonalInfo">
    <h4>Ваша персональная информация</h4>
    <h4>Google имя пользователя -  {{user?.username}}</h4>
    <h4>E-Mail - {{user?.email}}</h4>
    <div *ngIf="user?.personalInfo.firstName">
      <h4>Имя - {{user?.personalInfo.firstName}}</h4>
      <h4>Фамилия - {{user?.personalInfo.secondName}}</h4>
      <h4>День рождения - {{user?.personalInfo.birthday}}</h4>
      <button (click)="updatePersonalInfo = true">Обновить</button>
    </div>
  </div>


  <div class="personal" *ngIf="user?.auth == 'ordinary' && view == 'personal' && !updateUserInfo && !updatePersonalInfo">
    <h4>Ваша персональная информация</h4>
    <h4>E-Mail - {{user?.email}}</h4>
    <button (click)="updateUserInfo = true">Обновить</button>
  </div>

  <div class="personal" *ngIf="user?.personalInfo.firstName && user?.auth == 'ordinary' && view == 'personal' && !updateUserInfo && !updatePersonalInfo">
    <h4>Имя - {{user?.personalInfo.firstName}}</h4>
    <h4>Фамилия - {{user?.personalInfo.secondName}}</h4>
    <h4>День рождения - {{user?.personalInfo.birthday}}</h4>
    <button (click)="updatePersonalInfo = true">Обновить</button>
  </div>

  <div class="personal" *ngIf="view == 'personal' && !user?.personalInfo.firstName && !updateUserInfo">
    <h4>Добавить дополнительную персональную информацию</h4>
    <form [formGroup]="personalInfo">
      <input type="hidden" [value]="user?.uid" #uid>
      <input type="text" formControlName="firstName" placeholder="Имя" #firstName>
      <input type="text" formControlName="secondName" placeholder="Фамилия" #secondName>
      <input type="date" (focusout)="setBirthday(birthDay.value)" [min]="'1920-01-01'" [max]="max" pattern="(19[4-9][0-9]|200[0-9])-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" formControlName="birthDay" placeholder="День рождения" #birthDay>
      <button [disabled]="personalInfo.invalid"
              (click)="addPersonal(uid.value, firstName.value, secondName.value, birthDay.value)">
        Добавить дополнительную персональную информацию
      </button>
    </form>
  </div>

  <div class="personal" *ngIf="user?.auth == 'ordinary' && view == 'personal' && updateUserInfo">
    <h4>Обновить персональную информацию</h4>
    <form [formGroup]="form">
      <input type="email"
             [(ngModel)]="user.email"
             [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
             placeholder="E-Mail"
             formControlName="email">
      <div *ngIf="(email.invalid && email.touched) || email.dirty">
        <span class="red" *ngIf="email.errors?.required">Электронная почта обязательна</span>
        <span class="red" *ngIf="email.errors?.pattern">Введите валидную электронную почту</span>
      </div>
      <input type="password"
             [class.is-invalid]="form.get('password').invalid && form.get('password').touched"
             placeholder="Пароль"
             formControlName="password">
      <div *ngIf="(password.invalid && password.touched) || password.dirty">
        <span class="red" *ngIf="password.errors?.required">Пароль обязателен</span>
        <span class="red" *ngIf="password.errors?.pattern">Введите валидный пароль</span>
      </div>
      <input type="password"
             [class.is-invalid]="form.get('confirmPassword').invalid && form.get('confirmPassword').touched"
             placeholder="Подтвердите пароль"
             formControlName="confirmPassword">
      <div *ngIf="(confirmPassword.invalid && confirmPassword.touched && confirmPassword != password) || confirmPassword.dirty">
        <span class="red" *ngIf="confirmPassword.errors?.required">Пароль обязателен</span>
        <span class="red" *ngIf="confirmPassword.errors?.pattern">Введите валидный пароль</span>
      </div>
    </form>
    <button (click)="updateUserInfo = false">Go Back</button>
    <button [disabled]="form.invalid" (click)="updateInfo(user?.email, user?.password, email.value, password.value, confirmPassword.value)">
       Обновите персональную информацию
    </button>
  </div>

  <div class="personal" *ngIf="view == 'personal' && user?.personalInfo.firstName && updatePersonalInfo">
    <h4>Обновите дополнительную персональную информацию</h4>
    <form [formGroup]="personalInfo">
      <input type="hidden" [value]="user?.uid" #uid>
      <input type="text" formControlName="firstName" placeholder="Имя" #firstName>
      <input type="text" formControlName="secondName" placeholder="Фамилия" #secondName>
      <input type="date" [max]="max" (focusout)="setBirthday(birthDay.value)" [min]="'1920-01-01'" [max]="max" pattern="(19[4-9][0-9]|200[0-9])-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" formControlName="birthDay" placeholder="День рождения" #birthDay>
      <button (click)="updatePersonalInfo = false">Вернуться</button>
      <button [disabled]="personalInfo.invalid"
              (click)="addPersonal(uid.value, firstName.value, secondName.value, birthDay.value)">Обновите дополнительную персональную информацию
      </button>
    </form>
  </div>

  <div *ngIf="view == 'payment' && user?.card.cardNumber && !updateCardInfo">
    <h4>Платежная информация</h4>
    <div class="personal">
      <h4>Ваша банковская информация</h4>
      <h4>Номер карты - xxxx xxxx
        xxxx {{(user.card.cardNumber)[12]}}{{(user.card.cardNumber)[13]}}{{(user.card.cardNumber)[14]}}{{(user.card.cardNumber)[15]}}</h4>
      <h4>Месяц истечения - {{user?.card.cardMonth}}</h4>
      <h4>Год истечения - {{user?.card.cardYear}}</h4>
      <h4>CVV - xxx</h4>
      <button (click)="updateCardInfo = true">Обновить</button>
    </div>
  </div>

  <div *ngIf="view == 'payment'">
    <h4 *ngIf="!user?.card.cardNumber">Добавить банковскую карту</h4>
    <h4 *ngIf="user?.card.cardNumber && updateCardInfo">Обновить банковскую карту</h4>
    <form [formGroup]="card" *ngIf="updateCardInfo || !user?.card.cardNumber">
      <div class="bankCard">
        <div class="card">
          <div class="images">
            <img width="50" src="./assets/images/visaLogo.png">
            <img width="50" src="./assets/images/mastercardLogo.png">
            <img width="50" src="./assets/images/belcardLogo.png">
            <img width="50" src="./assets/images/maestroLogo.png">
          </div>
          <div id="cardNumber">
            <span>Номер карты</span>
            <input #number id="ccn" type="tel" formControlName="number" inputmode="numeric" pattern="[0-9]{16}"
                   autocomplete="cc-number" minlength="16" maxlength="16" placeholder="xxxxxxxxxxxxxxxx">
          </div>
          <div id="expires">
            <input #month type="tel" formControlName="month" pattern="0[1-9]|1[0-2]"
                   autocomplete="cc-exp-month" placeholder="ММ" minlength="2" maxlength="2">
            <span>/</span>
            <input #year type="tel" formControlName="year"
                   pattern="20(2[1-9]|3[0-9]|4[0-9]|5[0-9]|6[0-9]|7[0-9]|8[0-9]|9[0-9])"
                   autocomplete="cc-exp-year" placeholder="YYYY" maxlength="4" minlength="4">
          </div>
        </div>
        <div class="backCard">
          <hr id="stripe">
          <div id="cvv">
            <span>CVV<span class="material-icons">help</span></span>
            <input #cvv type="tel" formControlName="cvv" pattern="[0-9]{3}" minlength="3" maxlength="3"
                   placeholder="xxx">
          </div>
        </div>
      </div>
      <input type="hidden" [value]="user?.uid" #uid>
      <button style="margin-bottom: 1vh" *ngIf="!user?.card.cardNumber"
              (click)="addCard(uid.value, number.value, month.value, year.value, cvv.value)" [disabled]="card.invalid">
        Добавить карту
      </button>
      <button style="margin-bottom: 1vh" (click)="updateCardInfo = false">Вернуться</button>
      <button *ngIf="user?.card.cardNumber && updateCardInfo"
              (click)="addCard(uid.value, number.value, month.value, year.value, cvv.value)" [disabled]="card.invalid">
        Обновить карту
      </button>
    </form>
  </div>

  <div class="delivery" *ngIf="view == 'delivery' && !user?.address.addressCity">
    <h4>Информация о доставке</h4>
    <div class="personal">
      <h4>Добавить информацию о доставке</h4>
      <form [formGroup]="delivery">
        <input type="hidden" [value]="user?.uid" #uid>
        <input type="text" formControlName="city" placeholder="City" #city>
        <input type="text" formControlName="street" placeholder="Street" #street>
        <input type="number" formControlName="house" placeholder="House Number" #house>
        <input type="number" formControlName="flat" placeholder="Flat" #flat>
      </form>
      <button (click)="addDelivery(uid.value, city.value, street.value, house.value, flat.value)"
              [disabled]="delivery.invalid">Добавить информацию о доставке
      </button>
    </div>
  </div>

  <div class="delivery" *ngIf="view == 'delivery' && user?.address.addressCity">
    <h4>Информация о доставке</h4>
    <div class="personal" *ngIf="!updateDeliveryInfo">
      <h4>Ваша информация о доставке</h4>
      <h4>Город - {{user?.address.addressCity}}</h4>
      <h4>Улица - {{user?.address.addressStreet}}</h4>
      <h4>Дом - {{user?.address.addressHouse}}</h4>
      <h4>Квартира - {{user?.address.addressFlat}}</h4>
      <button (click)="updateDeliveryInfo = true">Обновить</button>
    </div>
    <div class="personal" *ngIf="updateDeliveryInfo">
      <h4>Обновить информацию о доставке</h4>
      <form [formGroup]="delivery">
        <input type="hidden" [value]="user?.uid" #uid>
        <input type="text" formControlName="city" placeholder="Город" #city>
        <input type="text" formControlName="street" placeholder="Улица"
               #street>
        <input type="number" formControlName="house" placeholder="Номер дома"
                #house>
        <input type="number" formControlName="flat" placeholder="Квартира"
               #flat>
      </form>
      <button (click)="updateDeliveryInfo = false">
        Вернуться
      </button>
      <button (click)="addDelivery(uid.value, city.value, street.value, house.value, flat.value)"
              [disabled]="delivery.invalid">Обновить информацию о доставке
      </button>
    </div>
  </div>

  <div *ngIf="view == 'orders' && user?.purchases[0].cart.bill != 0">
    <h4>История покупок</h4>
    <div class="personal" *ngFor="let purchase of user?.purchases">
      <div id="items">
        <div id="item" *ngFor="let item of purchase.cart.items">
          <h4>{{item.model}}</h4>
          <img [src]="item.img">
          <h4>{{item.description}}</h4>
          <h4>{{item.price | currency}}</h4>
          <h4>Количество - {{item.quantity}}</h4>
        </div>
      </div>
      <h4>Дата транзакции - {{purchase.date.toDate() | date: 'medium'}}</h4>
      <h3>{{purchase.cart.bill | currency}}</h3>
    </div>
  </div>

  <div *ngIf="view == 'orders' && user?.purchases[0].cart.bill == 0">
    <h4>У вас пока что нет покупок</h4>
  </div>

</div>
