* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo h1{
  background-color: lightslategrey;
  margin: 0;
  margin-bottom: -5px;
  color: #eee;
  font-weight: lighter;
}

body {
  margin: 0;
}
a {
  cursor: pointer;
  color: lightslategrey;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

input {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #BDBDBD;
  padding: 8px 10px;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: lightslategrey;
  color: #eee;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.7;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.7;
  cursor: auto;
}

.fancy-button {
  background-color: #eee;
  color: lightslategrey;
}

.fancy-button i.material-icons {
  color: lightslategrey;
  padding-right: 5px;
}

app-top-bar {
  width: 100%;
  background-color: lightslategrey;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

app-top-bar h1 {
  color: #eee;
  margin: 0;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eee;
}
