* {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin-top: 100px;
}

h3{
  text-align: center;
  font-size: 2vw;
}

h4{
  font-size: 1vw;
}

body{
  margin: 0;
  background-color: #dedede;
}

a{
  cursor: pointer;
  color: #3d3d3d;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  opacity: 0.7;
}

input{
  font-size: 20px;
  border-radius: 2px;
  padding: 8px 10px;
  border: 2px solid #3d3d3d;
  background-color: #dedede;
}

label {
  margin-bottom: 4px;
  display: block;
}

.button, button {
  display: inline-flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  cursor: pointer;
  color: #f73859;
  background-color: #3d3d3d;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.button:hover, button:hover {
  opacity: 0.7;
  font-weight: bold;
}

button:focus{
  outline: none;
}

.fancy-button {
  background-color: #dedede;
  color: #616161;
}

.fancy-button i.material-icons {
  color: #616161;
  font-size: 50px;
}

app-top-bar {
  width: 100%;
  background-color: #3d3d3d;
  padding: 10px;
  display: block;
  top: 0;
  position: fixed;
  z-index: 1;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #ededed;
}


@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  h3{
    text-align: center;
    font-size: 4vw;
  }

  h4{
    font-size: 3vw;
  }
}
