* {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #dedede;
}

a {
  cursor: pointer;
  color: #3d3d3d;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

input {
  font-size: 20px;
  border-radius: 2px;
  padding: 8px 10px;
  border: 2px solid #3d3d3d;
  background-color: #ededed;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.button, button {
  display: inline-flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  color: #ededed;
  background-color: #3d3d3d;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.7;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.7;
  cursor: auto;
}

.fancy-button {
  background-color: #eee;
  color: black;
}

.fancy-button i.material-icons {
  color: #353535;
  font-size: 50px;
}

app-top-bar {
  width: 100%;
  background-color: #3d3d3d;
  padding: 16px;
  display: block;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eee;
}
