#choices a{
  margin: 2px;
}

a{
  margin-right: 20px;
}

input{
  background-image: url('http://s1.iconbird.com/ico/2013/9/452/w512h5121380477032search.png');
  background-repeat: no-repeat;
  background-position: 4px;
  padding-left: 50px;
  background-size: 30px;
  margin-bottom: 2px;
  font-size: 20px;
  width: 400px;
  height: 40px;
}

@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  a > h1{
    display: none;
  }
  span{
    display: none;
  }
  input{
    width: 250px;
  }
}
