#choices{
  display: grid;
  width: 100%;
  grid-template-columns: 0.1fr 4fr 5fr 1fr;
  gap: 5px;
  align-items: center;
}

a.button{
  align-self: stretch;
}

#cartAndPayment{
  justify-self: right;
}


#marker{
  cursor: pointer;
  font-size: 50px;
  color: #dedede;
  transition: 0.3s;
  text-shadow: 0 0 6px #ededed;
}

#marker:hover{
  opacity: 0.7;
}

.sidenav {
  margin-top: 110px;
  height: 100vw;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3d3d3d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #f73859;
  display: block;
  width: 200px;
  transition: 0.3s;
}

.sidenav a:hover {
  opacity: 0.7;
}

.sidenav {
  position: absolute;
  top: 0;
  font-size: 36px;
}

#logo{
  width: 80px;
  height: auto;
}

img{
  width: 80px;
}

.button{
  background-color: #3d3d3d;
}

i.material-icons{
  color: #f73859;
}

input{
  background-image: url('http://s1.iconbird.com/ico/2013/9/452/w512h5121380477032search.png');
  background-repeat: no-repeat;
  background-position: 4px;
  padding-left: 50px;
  background-size: 30px;
  border: none;
  height: 45px;
  border-radius: 40px;
  justify-self: right;
  box-shadow: 0 0 6px #ededed;
}

@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
{
  #choices{
    display: grid;
    width: 100%;
    gap: 5px;
    align-items: center;
  }
  input{
    width: 150px;
    border-radius: 20px;
  }
  input::placeholder{
    color: transparent;
  }
  #marker{
    font-size: 40px;
  }
  img{
    width: 80px;
  }
  #logo{
    width: 80px;
    padding-left: 0;
  }
}

@media only screen
and (max-device-width: 736px)
and (min-device-width: 414px)
and (orientation: landscape)
{
  #choices{
    display: grid;
    width: 100%;
    gap: 5px;
    align-items: center;
  }
  #marker{
    font-size: 50px;
  }
  img{
    width: 100px;
  }
  input{
    width: unset;
    border-radius: 40px;
  }
  #logo{
    width: 100px;
  }
}
